<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../global.css" />
    <link rel="stylesheet" href="../../../styles/layout-main.css" />
    <link rel="stylesheet" href="../../../styles/lateralBar.css" />

    <title>template</title>
  </head>
  <body>
    <div class="layout">
      <div class="sidebar">
        <div class="lateralBar">
          <div class="lateralBar__listContainer">
            <ul class="lateralBar__list">
              <li class="lateralBar__item">Reservas</li>
              <li class="lateralBar__item">Mis reservas</li>
            </ul>
          </div>
          <div class="lateralBar__account">
            <i class="fa-solid fa-user"></i> 
            <p class="lateralBar__p">Mi cuenta</p>
          </div>
        </div>
      </div>

      <div class="main">
        
      </div>
    </div>
  </body>
</html>
